<%- include ("partials/header.ejs") %>

<div class="container">
  <div class="about">
    <h1>WeatherZen</h1>
    <p>
      Introducing WeatherZen: Your Serene Weather Forecasting Partner.
      <br />
      <br />
      At WeatherZen, we believe in more than just providing weather forecasts;
      we're committed to delivering tranquility through accurate predictions.
      Embracing the essence of 'zen', our approach to weather forecasting is
      grounded in peace and clarity.
      <br />
      <br />
      Harnessing cutting-edge technology and the expertise of seasoned
      meteorologists, WeatherZen offers comprehensive forecasts that empower you
      to plan your days with confidence. Whether it's a serene sunrise for your
      morning yoga session or a peaceful afternoon stroll under clear skies,
      we've got you covered.
      <br />
      <br />
      But WeatherZen is more than just a forecasting service; it's a mindset. We
      strive to bring harmony into your daily life, ensuring that even amidst
      unpredictable weather patterns, you can find peace in knowing what to
      expect.
    </p>
  </div>
</div>

<%- include ("partials/footer.ejs") %>
