<%- include ("partials/header.ejs") %>
<div class="container">
  <form action="/search" class="search-bar" method="POST" autocomplete="off">
    <input type="text" placeholder="Enter a City" name="search" />
    <button type="submit">
      <img src="images/search.png" alt="search icon" />
    </button>
  </form>
  <% if (locals.error) { %>
  <div class="error">
    <p><%= error %></p>
  </div>
  <% } %>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const container = document.querySelector('.container');
    const containerPadding = function () {
      if (window.innerWidth <= 2000) {
        container.style.paddingTop = '0';
      } else {
        container.style.paddingTop = '';
      }
    };
    containerPadding();
    window.addEventListener('resize', containerPadding);
  });
</script>
<%- include ("partials/footer.ejs") %>
